{% extends 'base.html' %}

{% block content %}
    <div class="intro">
        <h1>Taskify</h1>
        <p>Presentamos Taskify: Potencia tu Productividad</p>

        <p>¿Estás cansado de sentirte abrumado por tu interminable lista de tareas? ¿Tienes dificultades para mantener un seguimiento de tus tareas y mantenerte organizado? No busques más: Taskify está aquí para revolucionar la forma en que administras tus tareas.</p>

        <p>Taskify es una aplicación web de vanguardia diseñada para agilizar tu proceso de gestión de tareas. Con su interfaz intuitiva y sus potentes características, Taskify te permite crear, organizar y eliminar tareas con facilidad. Di adiós al caos y dale la bienvenida a la productividad.</p>

        <p>El diseño elegante de Taskify y su interfaz fácil de usar hacen que sea un placer utilizarlo. Ya seas un profesional ocupado, un estudiante que maneja múltiples proyectos o un padre que gestiona las tareas del hogar, Taskify se adapta a tus necesidades. Con solo unos clics, puedes crear tareas, establecer fechas de vencimiento, asignar prioridades e incluso categorizarlas en etiquetas personalizadas. Mantente al tanto de tus responsabilidades sin esfuerzo y observa cómo aumenta tu productividad.</p>

        <p>Entendemos la importancia de la seguridad y la privacidad de los datos. Es por eso que Taskify ofrece mecanismos sólidos de autenticación y autorización, asegurando que tus listas de tareas permanezcan seguras. Nuestra aplicación utiliza conexiones encriptadas e implementa un control de acceso basado en roles, lo que te permite proteger la información confidencial y otorgar acceso solo a usuarios autorizados. Tus tareas son solo tuyas, y asumimos la responsabilidad de protegerlas seriamente.</p>

        <p>Taskify no se trata solo de funcionalidad; se trata de crear una experiencia atractiva y placentera. Nuestros desarrolladores han puesto todo su empeño en crear una aplicación que combine eficiencia con un diseño emocionalmente cautivador. Desde visuales vibrantes hasta transiciones perfectas, Taskify despertará alegría y te motivará a conquistar tus tareas con entusiasmo.</p>

        <p>Acepta el futuro de la gestión de tareas con Taskify. Únete a nuestra comunidad de individuos productivos y experimenta la satisfacción de cumplir tus objetivos sin esfuerzo. Prepárate para desbloquear tu verdadero potencial: ¡Taskify está aquí para revolucionar la forma en que trabajas, una tarea a la vez!</p>

        <p>Regístrate en Taskify hoy mismo y libera tu productividad como nunca antes. Juntos, conquistemos el mundo de las tareas y hagamos de cada día un triunfo.</p>
    </div>
{% endblock %}
